<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>User Profile</title>
		<%- include header %>
	</head>
	<body>
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-3" w3-include-html="profiles.html"></div>
			<div class="col-md-9">
				<ul class="nav nav-tabs navt">
				  <li class="nav-item">
					<a class="nav-link activet tabx" href="#">Overview</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Repositories <span class="badge badge-secondary" id="repos"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Stars <span class="badge badge-secondary" id="stars"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Followers <span class="badge badge-secondary" id="followers"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Following <span class="badge badge-secondary" id="following"></span></a>
				  </li>
				</ul>
				
				<div class="pinrepo">Pinned repositories</div>
				<%
					for(var i=0;i<4;i++){%>
						<div class="col-md-6 card" style="padding-left:0px; padding-right:0px;">
							<div class="card-body <% if(i%2==0){%>bd<%}else{%>bd2<%} %> ">
								<h5 class="card-title"><a>mailchimp-nodejs</a></h5>
								<h6 class="card-text">Unofficial Node.js Client Library for MailChimp API http://developer.mailchimp.com</h6>
								<h6><i class="fa fa-circle fa-lg nobg2"></i>Javascript
								<i class="fa fa-star fa-lg nobg"></i>5</h6>
							</div>
						</div>
					<%
					}
				%>
				<div class="col-md-12" style="padding:0px;">
					<div class="calendar" style="margin:0px;">
						<!-- Loading stuff -->
						Loading the data..
					</div>
				</div>
			</div>
		</div>
		<%- include footer %>
	</body>
		<script src="js/default.js"></script>
		<script>
			new GitHubCalendar(".calendar", "andhikamaheva");
		</script>
</html>
