<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>User Profile</title>
		
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/main.css">
		<script
		  src="js/contributor.js"
		>
		</script>

		<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
		<link
		  rel="stylesheet"
		  href="css/gitcontributor.css"
		/>
	</head>
	<body>
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-3" w3-include-html="profiles.html"></div>
			<div class="col-md-9">
				<ul class="nav nav-tabs navt">
				  <li class="nav-item">
					<a class="nav-link activet tabx" href="#">Overview</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Repositories <span class="badge badge-secondary" id="repos"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Stars <span class="badge badge-secondary" id="stars"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Followers <span class="badge badge-secondary" id="followers"></span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link tabx" href="#">Following <span class="badge badge-secondary" id="following"></span></a>
				  </li>
				</ul>
				
				<div class="pinrepo">Pinned repositories</div>
				<%
					for(var i=0;i<4;i++){%>
						<div class="col-md-6 card" style="padding-left:0px; padding-right:0px;">
							<div class="card-body <% if(i%2==0){%>bd<%}else{%>bd2<%} %> ">
								<h5 class="card-title"><a>mailchimp-nodejs</a></h5>
								<h6 class="card-text">Unofficial Node.js Client Library for MailChimp API http://developer.mailchimp.com</h6>
								<h6><i class="fa fa-circle fa-lg nobg2"></i>Javascript
								<i class="fa fa-star fa-lg nobg"></i>5</h6>
							</div>
						</div>
					<%
					}
				%>
				<div class="col-md-12" style="padding:0px;">
					<div class="calendar" style="margin:0px;">
						<!-- Loading stuff -->
						Loading the data..
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
			<hr>
			<div class="col-md-5">
				<ul style="list-style-type: none; margin: 0; padding: 0;">
					<h6>
						<li class="fot">© 2017 GitHub, Inc.</li>
						<li class="fot"><a>Terms</a></li>
						<li class="fot"><a>Privacy</a></li>
						<li class="fot"><a>Security</a></li>
						<li class="fot"><a>Status</a></li>
						<li class="fot"><a>Help</a></li>
					</h6>
				</ul>
			</div>
			<div class="col-md-2">
				<center><i class="fa fa-github fa-2x" aria-hidden="true"></i></center>
			</div>
			<div class="col-md-5">
				<ul style="list-style-type: none; margin: 0; padding: 0;" class="pull-right">
					<h6>
						<li class="fot"><a>Contact GitHub</a></li>
						<li class="fot"><a>API</a></li>
						<li class="fot"><a>Training</a></li>
						<li class="fot"><a>Shop</a></li>
						<li class="fot"><a>Blog</a></li>
						<li class="fot"><a>About</a></li>
					</h6>
				</ul>
			</div>
		</div>
	</body>
		<script src="js/default.js"></script>
		<script>
			new GitHubCalendar(".calendar", "andhikamaheva");
		</script>
</html>
