<img src="https://avatars0.githubusercontent.com/u/4925655?v=4" style="border-radius:5px;" width="100%;">
<h3 id="namae"></h3>
<h4 class="lgin" id="login"></h4>
<p id="bio"></p>
<button class="btn btn-primary" style="width:100%">Follow</button>
<h6>Block or report user</h6>
<hr>
<i class="fa fa-github-square fa-lg nobg"></i> <a>Developer Program Member</a>
<hr>
<i class="fa fa-users fa-lg nobg"></i>
<a class="" id="company"></a><br>
<i class="fa fa-map-marker fa-lg nobg"></i>
<a class="" id="location"></a><br>
<i class="fa fa-envelope fa-lg nobg"></i>
<a class="" id="email"></a><br>
<i class="fa fa-link fa-lg nobg"></i>
<a class="" id="blog"></a>

